.todoList-container {
  max-width: 960px;
  margin: 50px auto 0;
  padding: 25px;  
}

.todoList-list .items {
  display: flex;
  min-height: 40px;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  margin-bottom: 3px;
  border: 1px solid #761214;
  position: relative;
}

.todoList-list > .finished {
  opacity: .2;
}

.todoList-list > .finished > .item-title {
  text-decoration: line-through;
}

.todoList-list .items::before {
  content: '';
  display: block;
  width: 4px;
  height: 30px;
  position: absolute;
  left: -2px;
  top: 50%;
  margin-top: -15px;
  background-color: #761214;
}

.todoList-button {
  float: right;
}

.todoList-button > .button {
  display: flex;
  justify-content: center;
  padding: 15px;
  margin-top: 20px;
  background-color: #761214;
  color: #ffffff;
  text-decoration: none;
  opacity: .97;
}

.todoList-button > .button:hover{
  opacity: 1;
}